<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">General Insights</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>
<!-- <div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header">
      Emotion Timeline </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <app-bar-race [comments]="comments"></app-bar-race>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header">
      Emotion Scale </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <app-lolipop-chart [comments]="comments"></app-lolipop-chart>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header">
      Subreddits (with more than 50 comments)</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <app-stacked-general [comments]="comments"></app-stacked-general>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header">
      Topics and Emotions</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <app-topic-scatter [topics]="topics"></app-topic-scatter>
        </div>
        <div class="col-md-6">
          <app-pie-chart [comments]="comments"></app-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header">
      Similarity</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <app-subreddit-radar [data]="comments"></app-subreddit-radar>
        </div>
      </div>
    </div>
  </div>
</div>
