<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>User</mat-label>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterUser($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<app-emotion-radar [comments]="commentsInput"></app-emotion-radar>
<app-line-graph [comments]="commentsInput"></app-line-graph>
